/*********************
* Color
*********************/
.bg-color--keycolor {
  background-color: #1c243a;
}
.bg-color--subcolor {
  background-color: #2b4466;
}

.bg-color--gray {
  background-color: #161821;
}

.footer section bg-color--gray{
  background-color: #26292b;
}