/********************
* Utility
********************/
.text-center {
  text-align: center;
  color: #fff;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.hidden {
  display: none;
}